.mainLayout {
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
  padding: 10px;
  margin-top: 10px;
}
.bar-container {
  display: flex;
  justify-content: center;
}

.barChart {
  margin: 20px 0;
}

.custom-bar {
  fill: hsl(10, 79%, 65%);
  border-radius: 30px;
}
.tooltip {
  background-color: rgba(0, 0, 0, 0.815);
  color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 5px;
}
.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0px 10px;
  border-top: 1px solid #eee;
  align-items: center;
  padding-top: 20px;
}
.last-month {
  display: grid;
  justify-items: end;
}

.footer-box {
  display: grid;
  align-items: center;
}
.title {
  margin: 5px;
}
.p {
  margin: 0px;
  color: #b4b4b4;
  font-size: 13px;
}
